.works-title {
  margin: 0 auto 20px;
  font-size: 40px;
  font-weight: 700;
  text-align: center;
  color: rgb(210, 155, 67);
}


.works-grid {
  display: flex;
  gap: 10px;
  margin-top: 40px;
  justify-content: space-evenly;
}